<p>
    <strong>
        Message: 
    </strong>
    <%= sanitize(@tweet.message) %>
</p>

<p>
    <strong>User:</strong>
    <%= @tweet.user.try(:username) if @tweet.user %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet), class: 'btn btn-light'%>
<%= link_to 'All Tweets', tweets_path, class: 'btn btn-light'%>

